@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-VariableFont_wght.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
}

body {
    background-color: #0D0D10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.6rem;
}

img {
    height: 12.3rem;
    width: 12.2rem;
    border-radius: 50%;
    user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

h1 {
    font-family: "Geist";
    color: #F3F3F5;
    font-weight: 600;
    margin-bottom: 0.3rem;
    font-size: 2.15rem;
    margin-top: 0.9rem;
}

.hero div {
    font-family: "Geist";
    color: #7E7E8C;
    font-weight: 400;
    font-size: 1.05rem;
}

.hero a {
    font-weight: "Geist";
    color: #FF7EB6;
    font-weight: 400;
    text-decoration: none;
    transition: color 150ms ease;
}

.hero a:hover {
    color: #FF98C7;
    text-decoration: underline;
}

.desc {
    background-color: #17171C;
    border: 1px solid #31313B;
    border-radius: 10px;
    padding-left: 1.25rem;
    padding-right: 1.3rem;
    box-shadow:
	0 0 0 1px rgba(255,255,255,.02),
	0 12px 25px rgba(0,0,0,.35);
    margin-bottom: 0.95rem;
    max-width: 45rem;
}

.desc p {
    font-family: "Geist";
    color: #F3F3F5;
    font-weight: 400;
    font-size: 1.06rem;
}

.socials {
    display: flex;
}

.socials a {
    font-family: "Geist";
    color: #FF7EB6;
    font-weight: 450;
    text-decoration: none;
    transition: color 150ms ease;
    font-size: 1.2rem;
    margin-left: auto;
}

.socials a:hover {
    color: #FF98C7;
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .content {
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
    }
}
